<div class="container">
  <h3 class="display-4 mt-3 text-white">Customer Cart</h3>
  <br>
  <h5 *ngIf="successMessage!=null && successMessage!=''" class="text-white">
    {{successMessage}}
  </h5>
  <h5 *ngIf="errorMessage!=null && errorMessage!=''" class="error-message">
    {{errorMessage}}
  </h5>


  <div *ngIf="!viewCartProductDetails">
    <div *ngIf="cartList.length != 0" class="text-right">
      <input class="btn btn-lg btn-dark  border border-light" type="button" value="Place Order" routerLink="../checkout">
    </div>
    <br>
    <div *ngFor="let cart of cartList">
      <div class="card my-3 hoverable">
        <div class="row">
          <div class="col-auto">
            <img [src]="'assets/resources/'+ cart.product.productId+'.jpg'" class="img-responsive center-block"
              alt="Not Found" onError="this.src='assets/resources/404.png'">
          </div>
          <div class="col card-block offset-1">
            <br />
            <h3>{{cart.product.name}}</h3>
            <strong>BRAND:</strong> {{cart.product.brand}}
            <br />
            <strong>PRICE:</strong> {{cart.product.price}}
            <br />
            <strong>DISCOUNT:</strong> {{cart.product.discount}}
            <br />
            <strong>Quantity:</strong> {{cart.quantity}}
            <br />
          </div>
          <div class="col card-block">
            <br />
            <br />
            <button class="btn btn-lg btn-dark" (click)="setSelectedCart(cart)">Details</button>
            <br />
            <br />
            <button class="btn btn-lg btn-dark" (click)="deleteProductFromCart(cart)">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!cartList || cartList.length==0" class="error-message">
      No products are added to the cart
    </div>
    <div *ngIf="cartList.length > 2">
      <br>
      <input class="btn btn-primary" type="button" value="Place Order" routerLink="../checkout">
    </div>
  </div>
  <div *ngIf="viewCartProductDetails">
    <div class="row">
      <div class="col-md-2">
        <button (click)="viewCartProductDetails=false" class="btn btn-secondary">
          Back
        </button>
      </div>
    </div>
    <br>
    <view-cart-product-detail [selectedCartProduct]="selectedCartProduct"></view-cart-product-detail>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>